.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.al-sidebar {
    top:0px;
}

.al-main {
    padding-top: 18px;
}

.relay-cell {
    padding:10px;
}

.relay-cell > div {
    text-align: center;
    padding-bottom: 7px;
}

.relay-cell-img {
    font-size: 64px;
}

.relay-cell-img-online {
    cursor: pointer;
}

.relay-cell-text {
    font-size: 16px;
    font-weight: bold;
}

.btn-default {
    color: white !important;
}